@media (max-width: 882px) {
    .filter-books{
        display: block
    }
    .box-book{
        width:205px
    }
  }

  @media (max-width: 541px) {
    .filter-books{
        display: block
    }
    .box-book{
        width:180px;
    }
    .img-book{
        height:280px
    }
  }

  @media (max-width: 480px) {
    .filter-books{
        display: block
    }
    .box-book{
        width:170px;
    }
    .img-book{
        height:270px
    }
  }

  
  @media (max-width: 460px) {
    .filter-books{
        display: block
    }
    .box-book{
        width:160px;
    }
    .img-book{
        height:260px
    }
  }
  @media (max-width: 437px) {
    .filter-books{
        display: block
    }
    .box-book{
        width:155px;
    }
    .img-book{
        height:250px
    }
  }

  @media (max-width: 426px) {
    .filter-books{
        display: block
    }
    .box-book{
        width:145px;
    }
    .img-book{
        height:230px
    }
  }

  .no{
    margin-left:30%;
    height:700px;
    margin-top:50px;

  }

  .bookss{
    margin-left:10%
  }


  .loader {
    display: flex;
  }
  
  .letter {
    width: 60px;
    height: 100px;
    font-size: 35px;
    font-family:'Times New Roman', Times, serif;
    color: #513820;
    border: 2px solid #513820;
    border-radius: 5px;
    margin: 0 5px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: shuffle 1s infinite ease-in-out alternate;
  }
  
  @keyframes shuffle {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-20px);
    }
  }
  
  .letter:nth-child(2) {
    animation-delay: 0.1s;
  }
  
  .letter:nth-child(3) {
    animation-delay: 0.2s;
  }
  
  .letter:nth-child(4) {
    animation-delay: 0.3s;
  }
  
  .letter:nth-child(5) {
    animation-delay: 0.4s;
  }
  
  .letter:nth-child(6) {
    animation-delay: 0.5s;
  }
  
  .letter:nth-child(7) {
    animation-delay: 0.6s;
  }
  
  .letter:nth-child(8) {
    animation-delay: 0.7s;
  }
  
  .letter:nth-child(9) {
    animation-delay: 0.8s;
  }

  .loadermain{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }